
      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <h1 class="view"><a href="/">Laxman Dhulipala</a></h1>
        <!-- <img src="/assets/laxman_headshot.jpg" class="headshot"> -->
        <img src="/assets/headshot.jpg" class="headshot">
        </br>
        </br>
        <b>research interests</b>
        <p>
         high-performance graph algorithms, provably-efficient graph
         processing for static, dynamic, and streaming graphs.
       </p>
        <b>contact</b>
         <p>
          email: laxman [at] mit.edu</br>
          <a href="docs/cv.pdf">CV</a> --
          <a href="https://github.com/ldhulipala">GitHub</a> --
          <a href="hobbies">Hobbies</a>
        </p>
        <hr/>


        <h3>News</h3>
        <ul>
          <li> I will be joining <a
          href="https://people.csail.mit.edu/jshun/">Julian Shun's</a> group at MIT on September 1st. </li>
          <li>I successfully defended my thesis on August 7th, 2020 </li>
        </ul>

      </header>
