
      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <h1 class="view"><a href="/">Laxman Dhulipala</a></h1>
        <!-- <img src="/assets/laxman_headshot.jpg" class="headshot"> -->
        <img src="/assets/headshot.jpg" class="headshot">
        </br>
        </br>
        <b>research interests</b>
        <p>
         high-performance graph algorithms, provably-efficient graph
         processing for static, dynamic, and streaming graphs.
       </p>
        <b>contact</b>
         <p>
          email: laxman [at] mit.edu</br>
          <a href="docs/cv.pdf">CV</a> --
          <a href="https://github.com/ldhulipala">GitHub</a> --
          <a href="hobbies">Hobbies</a>
        </p>
        <hr/>


        <h3>News</h3>
        <ul>
          <li>
          Excited to talk about Parallel Hierarchical Agglomerative
          Clustering at the <a href="https://events.withgoogle.com/scalable-algorithms-for-semi-supervised-and-unsupervised-learning/">
          Google Workshop on Scalable Algorithms for Semi-supervised and Unsupervised Learning</a>
          on October 6th.
          </li>
          <li> I was a Guest Facilitator for
          <a href="https://people.csail.mit.edu/jshun/6886-s21/">Algorithm Engineering (6.886)</a>
          at MIT in Spring'21.
          </li>
          <li> New <a
          href="https://ai.googleblog.com/2021/03/massively-parallel-graph-computation.html">Google
          AI Blog Post</a> on our work on the AMPC model. </li>
          <li> Excited to be on the <a
          href="http://algo2021.tecnico.ulisboa.pt/ESA2021/index.html">ESA'21</a> PC! </li>
          <li> I joined <a href="https://people.csail.mit.edu/jshun/">Julian Shun's</a>
          group at MIT in September'20. </li>
          <li>I successfully defended my thesis on August 7th, 2020. </li>
        </ul>

      </header>
