<div class="paper">

<b>{{ paper.title }} </b><br>

{% if paper.abstract %}
[<a href="{{ paper.abstract | replace: 'BASE', site.base }}">abstract</a>]
{% endif %}
{% if paper.pdf %}
[<a href="{{ paper.pdf | replace: 'BASE', site.base }}">pdf</a>]
{% endif %}
{% if paper.arxiv %}
[<a href="{{ paper.arxiv | replace: 'BASE', site.base }}">arxiv</a>]
{% endif %}
{% if paper.code %}
[<a href="{{ paper.code | replace: 'BASE', site.base }}">code</a>]
{% endif %}
{% if paper.pdf or paper.arxiv or paper.code %}
<br>
{% endif %}

{% if paper.authors %}
{{ paper.authors }}
<br>
{% endif %}

{% if paper.location %}
{{ paper.location }}
{% endif %}

{% if paper.award %}
<br>
<span style="color:green;font-weight:bold"> {{ paper.award }}</span>
{% endif %}


</div>
