<li class="paper-rg">
    <span class="date"> {{ paper.date }}:</span>
    <span class="title">
    {% if paper.url %}<a href="{{ paper.url | replace: 'BASE', site.base }}">{% endif %}{% if paper.book %}<i>{% else %}{% endif %}{{ paper.title }}{% if paper.book %}</i>{% else %}{% endif %}{% if paper.url %}</a>{% endif %}
    <span class="presenter"> ({{ paper.presenter }})</span>
    </span>
    {% if paper.extra %}
    <ul class="extras">
    {% for extra in paper.extra %}
	{{extra.comments}} {% if extra.url %}<a href="{{ extra.url | replace: 'BASE', site.base }}">{% endif %}{{ extra.title }}</a>  
    {% endfor %}
    </ul>
    {% endif %}
</li>
